@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins-v24-latin-300.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v24-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v24-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/poppins-v24-latin-900.woff2") format("woff2");
}

:root {
  --color-brand-light: #819b57;
  --color-brand-dark: #465929;
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
}

/* Global */
* {
  box-sizing: border-box;
}

body {
  color: var(--color-primary-dark);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}
section {
  padding: 48px 0;
}

address {
  font-style: normal;
}

/* Buttons */
.button {
  padding: 16px 32px;
  background-color: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 8px;
  font-weight: 600;
  color: var(--color-primary-light);
  cursor: pointer;
}

.button:hover {
  background-color: transparent;
  color: var(--color-brand-dark);
}

/* Links  */
.link {
  color: var(--color-primary-light);
  text-decoration: none;
}

.link:hover {
  color: var(--color-brand-light);
  font-weight: 600;
}
/* Hero section */

.hero-section {
  padding: 272px 0;
}

.hero-title {
  color: var(--color-primary-light);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
  margin-bottom: 0;
}

.hero-title .accent {
  color: var(--color-brand-light);
}

/* Advantages section */
.advantages-list {
  background-color: var(--color-brand-light);
  color: var(--color-primary-light);
}

.advantages-item {
  font-weight: 300;
  font-size: 20px;
}

.section-title {
  margin-bottom: 80px;
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.section-title .accent {
  color: var(--color-brand-dark);
}

/* Traditions section */

.traditions-title {
  margin-bottom: 42px;
}

.traditions-section {
  padding-top: 96px;
}

.traditions-text .brand {
  color: var(--color-brand-light);
  font-weight: 600;
}
.traditions-text .brand.uppercase {
  text-transform: uppercase;
}

/* Chief section */
.chief-title {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
}

/* Format-section */

.format-title {
  font-size: 24px;
  font-weight: 600;
}

.format-text {
  font-size: 14px;
  font-weight: 300;
}
/* Join section */

.join-title {
  margin-bottom: 16px;
}

/* Adress section */

.address-link {
  color: var(--color-primary-light);
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
}

.address-link:hover {
  color: var(--color-brand-light);
}

.address-copyright {
  font-size: 14px;
}
