@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins-v24-latin-300.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v24-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v24-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/poppins-v24-latin-900.woff2") format("woff2");
}

:root {
  --color-brand-normal: #819b57;
  --color-brand-dark: #465929;
  --color-brand-light: #CFCFBC;
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-primary-normal: #A18268;
}

/* Global */
* {
  box-sizing: border-box;
}

body {
  color: var(--color-primary-dark);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  background-color: var(--color-primary-light);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}
section {
  padding: 48px 0;
}

address {
  font-style: normal;
}

/* Buttons */
.button {
  padding: 16px 32px;
  background-color: var(--color-brand-normal);
  border: 2px solid var(--color-brand-normal);
  border-radius: 8px;
  font-weight: 600;
  color: var(--color-primary-light);
  cursor: pointer;
}

.button:hover {
  background-color: transparent;
  color: var(--color-brand-dark);
}

/* Links  */
.link {
  color: var(--color-primary-light);
  text-decoration: none;
}

.link:hover {
  color: var(--color-brand-normal);
  font-weight: 600;
}

/* Header */

.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header-menu {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}
/* Hero section */

.hero-section {
  padding: 272px 0;
  background-image: url("../img/hero-bg.png") ;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-title {
  color: var(--color-primary-light);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
  margin-bottom: 0;
}

.hero-title .accent {
  color: var(--color-brand-normal);
}

/* Advantages section */

.advantages-section {
  background-color: var(--color-brand-normal);
  padding: 16px 0;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.advantages-item {
  color: var(--color-primary-light);
  font-weight: 300;
  font-size: 20px;
}

.section-title {
  margin-bottom: 80px;
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.section-title .accent {
  color: var(--color-brand-dark);
}

.section-title.centered {
  text-align: center;
}
/* Traditions section */

.traditions-title {
  margin-bottom: 42px;
}

.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.traditions-content {
  max-width: 710px;
}
.traditions-section {
  padding-top: 96px;
}

.traditions-text .brand {
  color: var(--color-brand-normal);
  font-weight: 600;
}
.traditions-text .brand.uppercase {
  text-transform: uppercase;
}

.traditions-text:nth-child(3) {
  max-width: 340px;
}

/* Chief section */
.chief-list {
  display: flex;
  gap: 30px;
  justify-content: space-around;
}

.chief-card {
  display: flex;
  gap: 30px;
  max-width: 605px;
  align-items: flex-start;
}
.chief-title {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
}

.chief-section-title{
  max-width: 540px;
  margin: 0 auto 80px;;
}
.chief-section-title::after,
.chief-section-title::before {
  display: block;
  width: 352px;
  border: 2px solid var(--color-brand-light);
  content: '';
}

.chief-photo{
 border-radius: 4px 4px 4px 200px;
 box-shadow: -16px 16px 0 0 var(--color-primary-light), -16px 16px 0 2px var(--color-primary-normal);
}
/* Format-section */

.format-list {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.format-card {
  padding: 24px;
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    var(--color-primary-dark) 100%
  );
  border: 1px solid gray;
  border-radius: 16px;
}

.formats-title {
  margin-bottom: 80px;
}
.format-title {
  font-size: 24px;
  font-weight: 600;
}

.format-item {
  flex-basis: calc(100% -40px / 3);
  flex-wrap: wrap;
}
.format-text {
  font-size: 14px;
  font-weight: 300;
}

.slider-button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid var(--color-primary-dark);
  background-color: transparent;
  cursor: pointer;
}

.slider-button:hover{
  background-color: var(--color-primary-dark);
  fill: var(--color-brand-light);
}

/* Join section */

.join-title {
  margin-bottom: 16px;
}

/* Adress section */

.footer-container {
  background-image: url("../img/footer-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--color-primary-dark);
}
.address-link {
  color: var(--color-primary-light);
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
}

.address-link:hover {
  color: var(--color-brand-normal);
}

.adress-icon{
  fill:var(--color-primary-light);
}

.address-copyright {
  font-size: 14px;
}
